.finish-body {
    background-color: $beige-bg;
    width: 100%;
    min-height: calc(100vh - 100px);
    color: $dark-bachef;
    font-family: $headers-font;
}

.result-container {
    margin-top: 80px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.message-container {
    width: 550px;
    h1 {
        font-size: 64px;
    }
}

.result-deck {
    width: 632px;
}

.card-result {
    width: 632px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pen-cursor {
    cursor: pointer;
}


.form-container {
    margin-top: 16px;
}
.pen-cursor {
    cursor: pointer;
}

.save-form {
    display: flex;
    flex-direction: column;
}
.win {
    color: $green-bachef;
}
.fail {
    color: $pink-bachef;
}
.cal-obj {
    color: $blue-bachef;
}

.light {
    font-weight: lighter;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
}

.txt-deco {
    text-decoration: none !important;
}