<footer>
  <%# <div class="row"> %>
  <% if params[:controller] == 'pages' && params[:action] == 'home'%>
  <div class="col-md-12 footer-bachef footer-bachef-home">
  <% else %>
  <div class="col-md-12 footer-bachef">
  <% end %>
      <p>Copyright &copy; B a Chef 2021</p>
    </div>
  <%# </div> %>
</footer>