<h1>Félicitation !</h1>
<div class="card card-column card-<%= @order.card.primary_color %>" data-id="<%=@order.card.id%>">
<%= image_tag @order.card.image_path, height: 30, class: "card-image" %> 
<p class="card__title column-2 card-title"><%=@order.card.title%></p>
</div>