<main id="index">
    <div class="banner-home">
    <%= video_tag "video_home.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video"%>
        <div class="video-title">
            <h1>B A CHEF !</h1>
        </div>
    </div>
</section>
