<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<form id="search-recipes" class="form-inline">
  <input id="searchInput" type="text" class="form-control ml-auto mr-2" placeholder="nanani et nanana">
  <input type="submit" class="btn btn-primary mr-auto ml-2" value="Search">
</form>
=======
<main id="index">
    <div class="banner-home">
    <%= video_tag "video_home", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video"%>
        <div class="video-title">
            <h1>B A CHEF !</h1>
        </div>
    </div>
</section>
>>>>>>> 4f8fbb6f648b53b073a40de404af798edba9c421
