<section id="index">
    <div class="banner-home">
    <%= video_tag "video_home.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video"%>
        <div class="video-title">
            <h1>B A CHEF !</h1>
        </div>
    </div>
</section>
<div class="container-fluid m-3">
</div>
<div class="main-container">
  <div class="container-card">
    <div class="container-grid">
      <div class="card-rules" id="rule-1">
        <div class="title"><h2>Choisis </br>ton profil</h2></div>
      </div>
      <div class="card-rules" id="rule-2">
        <div class="title"><h2>Sélectionne </br> tes ingrédients</h2></div>
      </div>
      <div class="card-rules"  id="rule-3">
        <div class="title"><h2>Soumet ton </br>score</h2></div>
      </div>
      <div class="card-rules"  id="rule-4">
        <div class="title"><h2>Cuisine ta </br>recette et rejoue !</h2></div>
      </div>
    </div>
  </div>
</div>

