<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<form id="search-recipes" class="form-inline">
  <input id="searchInput" type="text" class="form-control ml-auto mr-2" placeholder="nanani et nanana">
  <input type="submit" class="btn btn-primary mr-auto ml-2" value="Search">
</form>