<section id="index">
    <div class="banner-home">
      <%= video_tag "cooking.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video"%>
        <div class="video-title">
            <h1>B A CHEF !</h1>
        </div>
        <div class="baseline">
          <h5>A vous de trouver ce que vous allez manger ce soir ! </h5>
        </div>
    </div>
</section>
<div class="main-container">
  <div class="button-hp">
    <h2 class="button-hp-text"><%= link_to "Let's play", new_game_path %></h2>
  </div>
</div>
<div class="main-container">
  <div class="container-card">
    <div class="container-grid">
      <div class="card-rules" id="rule-1">
        <div class="title-rules"><h2>Choisis </br>ton profil</h2></div>
          <p class="card-paragraph">Ton profil définit ton objectif en termes de calories et de type de repas.</p>
      </div>
      <div class="card-rules" id="rule-2">
        <div class="title-rules"><h2>Sélectionne </br> tes ingrédients</h2></div>
          <p class="card-paragraph">Choisis la meilleure association d'ingrédients pour tenter de valider ton objectif !</p>
      </div>
      <div class="card-rules"  id="rule-3">
        <div class="title-rules"><h2>Soumets ton </br>score</h2></div>
          <p class="card-paragraph">Le score doit s'approcher le plus possible de ton objectif de points et de calories. Sauras-tu choisir la meilleure combinaison ? </p>
      </div>
      <div class="card-rules"  id="rule-4">
        <div class="title-rules"><h2>Cuisine ta </br>recette et rejoue !</h2></div>
      <p class="card-paragraph">Sauvagarde tes asocciations d'ingrédients, choisis une des recettes proposées et n'hésite pas à rejouer avec tes amis ! </p>
      </div>
    </div>
  </div>
</div>

