
<div class="container" id=" ">
  <%= simple_form_for  @game do |f| %>
    <%= f.input :objective, :collection => %w[Equilibre Végétarien Gras] %>
    <%= f.input :calories, as: :numeric %>
    <div class="text-center">
      <h2 class="btn-bachef">C'est parti !</h2>
    </div>
  <% end %>

</div>

<%# Old submit button %>
<%# btn btn-outline-success %>
<%# <%= f.submit "C'est parti !", class: "btn-bachef" %>