<div class="container">
<h3><%= "Tu as sélectionné le profil #{@game.objective}, et ton objectif est de #{@game.calories} calories"%></h3>
  <h5>Mes cartes:</h5>
<div class="list-group">
    <% @cards.each do |card| %>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1"><%=card.title%></h5>
    </div>
    <% end %>
  </div>
</div>