    <div class="card card-column card-<%= card.primary_color %>" data-id="<%=card.id%>">
      <div class="column-1"> <%= image_tag "carrot.png", height: 30, class: "card-image" %> </div>
      <p class="card__title column-2 card-title"><%=card.title%></p>
      </p>
    </div>