@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
.card-rules {
    margin: 0 auto;
    width: 80%;
    height: 225px;
    box-shadow: 1em 1em 2em rgba(0,0,0,.2);
    border-radius: 60px;
    // border: 4px solid;
  }

#rule-1 {
    background-color: rgba(101, 172, 222, 0.5);
    border-color: $blue-bachef;
}

#rule-2 {
    background-color: rgba(59, 206, 146, 0.5);
    border-color: $green-bachef;
}

#rule-3 {
    background-color: rgba(255, 140, 66, 0.5);
    border-color: $orange-bachef;
}

#rule-4 {
    background-color: rgba(249, 98, 125, 0.5);
    border-color: $pink-bachef;
}


.title-rules {
  margin: 20px 15px 15px;
  text-align: center;
  color: white;
}

.card-paragraph {
    margin: 0 15px 0 15px;
    text-align: center;
    color: white;
    font-family: Rubik;
}

/////////////////////////////////////////////////////////

.card-margin {
  margin: 5% auto;
}
///////////////////////////////////////////////////////////////////////////////
.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    text-align: center;
    margin-top: 10px;
}

.hidden {
  opacity: 0;
}

.five {
    grid-column: 5;
}

////////////////////////////////////////////////////////////////////////////////


.card_checklist {
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25);
  background-size: contain;
  overflow-y: scroll
}


.drag-over {
    border: dashed 3px grey;
}

/////////////////////////////////////////////////////////////////////////////////


.image_tag {
    width: 100px;
    height: 100px;
}

.image_tag_2 {
    width: 100px;
    height: 100px;
}

.image_tag_3 {
    width: 200px;
    height: 150px;
}


/////////////////////////////////////////////////////////////////////////////////////

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }


  /* CARDS */

  .card {

    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    width: 200px;
    height: 70px;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  .card-column {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .column-1 {
    width: 25%;
    align-self: center;
}

.column-2 {
    flex-grow: grow;
    align-self: center;
    margin: 0 auto;
}

  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }

  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }

  .card__link:hover::after {
    width: 100%;
  }

  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }

  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }

  .card__title {
    font-weight: 400;
    color: #ffffff;
  }

  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }

  .card-green {
    background: radial-gradient(#60efbc, #58d5c9);
  }

  .card-blue {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }

  .card-orange {
    background: radial-gradient(#ffcc89, #ffa552);
  }

  .card-red {
    background: radial-gradient(#fd8d8d, #ff5454);
  }

  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }

//////////////////////////////////////////////////////////

.category-card {
  font-style: italic;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
}

.card-title-shop {
  color: $dark-bachef;
  text-align: center;
}

.card-price-shop {
  font-weight: bold;
}

.card-price {
  display: flex;
  flex-direction: row;
  margin-left: 68px;
}

 .cards-pad {
    padding: 10px;
    margin-bottom: 20px;

  }
