.main-container {
    display: flex;
    margin-top: 70px;
  }
.container-card {
    flex-grow: 1;
    grid-template-rows: 100vh;
    height: 100%;
  }

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-around;
  }

.container-grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

#head {
  background-color: $beige-bg;
  height: 100vh;
}

#container-show {
  background-color: $beige-bg;
  height: (100% -100px);
}

.container-form {
  display: flex;
  order: 5;
  margin-top: 20px;
}

#background {
  background-color: $beige-bg;
}

.container-show-order {
  background-color: $beige-bg;
  min-height: calc(100ch - 100px);
  width: 80%;
}

.marge-50 {
  margin-top: 100px;
}

#marginb {
  margin-bottom: 100px;
}