.game-row {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #E5E5E5;
  height: 150px;
}

.game-infos {
  display: flex;
  flex-direction: column;
}

.p-dashboard {
  color: grey;
  font-style: italic;
  font-family: Rubik;
}