.game-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-infos {
  display: flex;
  flex-direction: column;
}

.p-dashboard {
  color: grey;
  font-style: italic;
  font-family: Rubik;
}


.game-container {
  display: flex;
  flex-direction: column;
  height: auto;
  // border-bottom: solid 1px #E5E5E5;
}

.dashboard-style {
  font-family: Rubik;
  color: grey;
}

