.navbar-bachef {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  // border-bottom: solid 1px #E5E5E5;
  height: 100px;
  background-color: $beige-bg;
}

// .navbar-bachef .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-brand img {
  width: 70px;
}

 .navbar-shop {
  font-family: Rubik;
  width: 40px;
  opacity: 60%;
  text-decoration: none;
  color: #E27C2F;
  font-size: 14px;
  &:hover {
    opacity: 45%;
    color: #E27C2F;
     text-decoration: none;
  }
}

.navbar-gap {
  gap: 40px;
}

.bulletpoints {
  list-style-type: none;
}


.avatar-nav{
  border-radius: 50%;
  border: 3px solid $blue-bachef;
}

.navbar-section {
  display: flex;
  justify-content: flex-end;
}