.navbar-bachef {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  // border-bottom: solid 1px #E5E5E5;
  height: 100px;
  background-color: $beige-bg;
}

// .navbar-bachef .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-brand img {
  width: 70px;
}

 .navbar-shop img {
  width: 40px;
  opacity: 42%;

}

.bulletpoints {
  list-style-type: none;
}


.avatar-nav{
  border-radius: 50%;
  border: 3px solid $blue-bachef;
}

.navbar-section {
  display: flex;
  justify-content: flex-end;
}