.navbar-bachef {
  justify-content: space-between;
  border-bottom: solid 1px #E5E5E5;
  height: 100px;
}

.navbar-bachef .navbar-collapse {
  flex-grow: 0;
}

.navbar-bachef .navbar-brand img {
  width: 70px;
}

.navbar-bachef .navbar-shop img {
  width: 40px;
  opacity: 42%;

}

.bulletpoints {
  list-style-type: none;
}

